#covid table{width: 100%!important;}
.docis_pais{ background:#009FD4; color:#fff;  padding-top: 20px;  padding-bottom: 20px;}
.darkmode .docis_pais{background: #69B1C9}
.docis_pais p{ font-weight: bold; font-size: 30px;}
.darkmode .docis_pais p{color:#1E1E1E;}
.docis_stats{ padding-top: 50px;padding-bottom: 50px;}
#covid h1{font-size: 3rem;}
#covid h2{color:#3E2D50; font-weight: bold; font-size:25px; margin-bottom: 30px;}
.darkmode .docis_stats h2{color: #E0E0E0;}
#covid h4{ color:#3D3F52;font-weight: bold; font-size:35px;line-height: 35px; }
#covid h4 img { float: left;margin-right: 20px; margin-bottom: 43px; }
#covid .border{  border: 1px solid #F0F0F0; padding: 20px; }
.docis_stats span{ color:#009FD4; font-weight: bold; font-size: 30px; display: block; line-height: 25px;  margin-top: 30px;}
.darkmode .docis_stats span{color: #69B1C9;}
.preguntas{padding-top: 50px; padding-bottom: 50px; }
#covid .bg { }
.preguntas h2{color:#3E2D50;font-weight: bold;font-size:30px;text-align: left;line-height: 25px;}
.darkmode .preguntas h2{color: #E0E0E0;}
.preguntas p { color:#3E2D50;font-size:20px; line-height: 1.5; }
.darkmode .preguntas p{color: #E0E0E0;}
.preguntas .shadow{ box-shadow: 3px 3px 10px 0px #27262657; min-height: 360px; }
.formulario textarea { border: 0px; width: 100%;  font-size: 18px; }
.formulario .submit{color: #fff; background: #3D3F52; border-radius: 26px; padding: 5px 10px 5px 10px;  border: 0px; font-size: 16px; font-weight: 500;  padding-left: 1em; padding-right: 1em;}
.formulario .bg_gris {background: #F1F1F1;}
.docis_stats > div:first-child{ border-right:1px solid #333;}
.especial { background: #009FD4; color: #fff; font-size: 19px; display: block; width: 120px; margin: 0 auto;text-align: center;margin-bottom: 5px;}
.progress { border-radius: 0px; border: 1px solid #C5D3DD; position: relative;}
#covid table td:not([align]), #covid table th:not([align]) { line-height: 25px;}
#covid .prog { border-radius: 0px;border: 1px solid #C5D3DD; position: relative;}
#covid .prog .bar { position: absolute; left: 0px; height: 100%; background: #009FD4 !important;}
#covid .prog .porcent { z-index: 1; position: relative; background: #ffffff8a; border-radius: 60px; padding-left: 5px; padding-right: 5px;}

/*progress::-moz-progress-bar { background: #009FD4 !important; }
  progress::-webkit-progress-bar { background: #009FD4 !important; }*/
progress::-webkit-progress-value { background: #009FD4 !important;}
.progress { color: red;background-color: #009FD4 !important;}
progress:after { content: attr(value)'%'; color: #01a0d4; position: absolute;top: -4px; margin-left: 0px;}
.progress>div {}
#covid .info { max-width: 880px; margin: 0 auto;}
#covid .info p { font-size: 18px; line-height: 1.8rem;}
#covid .info li { font-size: 22px; line-height: 30px;}
#covid .webform-component a { color: #3273dc;}
.covid-menu ul li { margin-left: 5px;  margin-right: 5px; margin-bottom: 20px;}
.covid-menu ul li a{font-size:14px;font-weight:700;box-shadow:1px 2px 5px rgb(0 0 0 / 5%);min-width:240px;border:1px solid #dadada78;line-height:15px;min-height:90px}
.covid-menu ul li.is-active{background:#d4cece}
.covid-menu li.is-active a,.covid-menu li a:hover,.covid-menu li:hover a{border-bottom-color:#dadada78}
.covid-menu ul{border:0}
.actualizacion{position:relative}
.actualizacion span:before{position:absolute;content:" ";width:35%;border-bottom:1px solid #C4C4C4;left:0;top:13px}
.actualizacion span:after{position:absolute;content:" ";width:35%;border-bottom:1px solid #C4C4C4;right:0;top:13px}
#covid .numero{color:#009FD4;font-size:30px;font-weight:700}
#covid .table span{color:#009FD4}
#covid .table td{font-weight:700}
#covid .image_full{width:100%}
#covid .image_full img{margin-left:auto;margin-right:auto;display:block}
#covid .image_full.datos{background:url(img/covid-header2.png)no-repeat bottom center;min-height:434px;background-size:cover;aspect-ratio:5/1}
#covid .image_full.vacunas{background:url(img/covid-header3.jpg)no-repeat bottom center;min-height:434px;background-size:cover;aspect-ratio:5/1}
#covid .card{background:#FCFEFF;box-shadow:none;border:1px solid #DADADA}
#covid .card .media{border-bottom:1px solid #C5D3DD}
#covid .card .title{font-size:20px}
#covid .card .subtitle{font-size:12px;line-height:15px}
#covid .card-content{padding:0}
#covid .card-content .content{padding:20px;padding-top:0;min-height:290px}
#covid .card-content .content>div{line-height:40px;padding-left:20px;padding-right:20px;margin-left:-20px;margin-right:-20px}
#covid .card-content .content .bg{background:#F3F8FB}
#covid .card-content .content span{color:#016446;font-weight:700;line-height:18px;display:block;margin-top:10px}
#covid .card-content .content a{position:absolute;bottom:10px}
#covid .map1{width:100%;height:840px}
#covid .map2{width:100%;height:1500px}
#covid .map3{width:100%;height:1030px}
#covid a{color:#3273dc}
.darkmode #covid h2,.darkmode #covid h4{color:rgba(255,255,255,0.87)}
.darkmode #covid table{background:none;color:rgba(255,255,255,0.87)}
.darkmode #covid iframe{filter:invert(1)}
.darkmode #covid .card{background:#131313;box-shadow:none;border:1px solid #f3f8fb2e}
.darkmode #covid .card-content .content .bg{background:#f3f8fb05}
.darkmode #covid .card .title,.darkmode #covid .card .subtitle,.darkmode #covid .card-content{color:rgba(255,255,255,0.87)}
.darkmode #covid .content img{filter:invert(1)}
.darkmode .formulario .bg_gris{background:#f1f1f105}
@media screen and (max-width:769px) {
#covid .map1{height:50rem}
#covid .map2{height:60rem}
#covid .map3{height:40rem}
#covid .pl-0-mobile{padding-left:0!important}
#covid .pr-0-mobile{padding-right:0!important}
#covid .image_full.datos{background:url(img/covid-header-mobile2.png)no-repeat bottom center;min-height:240px}
h1{font-size:1.875rem!important}
.docis_stats span{font-size:1.563rem!important;margin-top:0}
.docis_stats h2{margin-bottom:30px!important}
#covid h4{font-size:25px;line-height:25px}
#covid h2{font-size:26px;line-height:30px}
#covid .info p{line-height:1.8rem;font-size:18px}
.preguntas p{font-size:1rem!important}
.docis_stats p{font-size:1.875px rem!important}
.docis_stats>div:first-child{border-right:0 solid #333;border-bottom:1px solid #333}
.preguntas{padding-left:0!important;padding-right:0!important}
.covid-menu ul li{float:left;display:block;width:30%;position:relative;text-align:center}
.covid-menu ul li a{min-width:95%;padding:0;min-height:150px}
.covid-menu ul li a img{margin:0 auto;float:left;width:100%;position:absolute;margin-top:-50px}
.covid-menu ul li a span{width:100%;text-align:center;display:block;float:left;clear:left;position:relative;margin-top:100px;margin-bottom:20px}
.covid-menu.mapa ul li{float:left;display:block;width:45%}
.covid-menu.mapa ul li a{min-width:50%}
.covid-menu ul{border:0;display:block;width:100%}
.actualizacion span:before{width:15%}
.actualizacion span:after{width:15%}
}

/*BULMA EXTRAS*/
@media screen and (min-width:769px),print {
.column.is-half{ flex:none; width:50%}
}
.card {background-color: #fff;border-radius: .25rem; box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
    color: #4a4a4a;max-width: 100%; overflow: hidden; position: relative;}
.card-content { background-color: transparent; padding: 1.5rem;}
.card .media:not(:last-child) {  margin-bottom: 1.5rem;}
.media { align-items: flex-start; display: flex; text-align: inherit;}
.card { color: #4a4a4a;}