h1 {margin-top: 30px !important; font-size:33px!important}
.dipButton_off, .selected {filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.1))!important;}
.provincias { position: relative;  top: -50px; }

/*MAPA INSIDE NOTAS*/
#iframemapa {height:950px}
@media (max-width: 780px) { #iframemapa {height:640px !important} }


/* MAPA DENTRO DE SECTION */
#mapasection #iframemapa .contenedor {transform: unset;}

/*SANTI*/
/*td.va{visibility: hidden;}
.resultados{
	height: auto;
    overflow-y: visible;
    width: 100%;
}
svg path {
    stroke: rgb(62 62 62)!important;
    stroke-width: 0.5px!important;
}
svg path:hover {
    stroke-width: 1.6px!important;
}
.backed{
    filter: brightness(0);
}
.tab-content>.active{
     max-width: 100%;
}
.nav>li{
    width: 32%;
}
.contenedor{
    transform: initial!important;
        width: 100%;
}
.totales{width: 100%;}
/*.ft a{
    margin-left: 20px;
}
.ft a img{
    width: 40px;
    position: relative;
    bottom: -50px;
}*/
/*.copete_extra {
    width: 100%;
}
@media (max-width: 780px) {
	.tab-content>.active{
		max-width: 100%;
	}
	.total{max-width: 100%;width: 100%}
	.close {
	    color: #4a4751;
	    float: right;
	    font-size: 50px;
	    font-weight: bold;
	    position: absolute;
	    right: 10px;
	    top: -10px;
	    opacity: 1;
	}
	.copete {
	    margin-left: auto;
	    margin-right: auto;
	        text-align: left;
	    width: 100%;
	    max-width: 100%;
	}
.modal{
    background-color: rgb(0 0 0 / 0%);
}
.dipButton_off{
	margin-top: 20px;
	margin-bottom: 20px;
}
.dropdown{
	margin-top: 20px;
	margin-bottom: 20px;
}
	.density{
	    transform: translate(200px, 260px);
	}
	.bancas{
	    margin-left: auto;
	    margin-right: auto;
	}
	.copete {
	    margin-left: auto;
	    margin-right: auto;
	}
	.mobile{
		display: block;
    	width: 100%!important;
	    max-width: 100%;
	}
	table.mobile{
		display: table!important;
	}
}*/