/*Darkmode*/
.darkmode { background: #121212;}
.darkmode body {color: rgba(255, 255, 255, 0.87);}

.darkmode #serviciostop { background: #353535; color:#E0E0E0 }
.darkmode #serviciostop img { filter: invert(10%);}

.darkmode #menuprincipal { background: #3D3F52;}
.darkmode #menuprincipal a { color: #FFF;}
.darkmode #menuprincipal .menu-item a::after {filter: brightness(100);}
.darkmode #menuprincipal .sub-menu { background: #181f2a;}

.darkmode #menu-mob li:nth-child(2)::before {filter: invert(1) brightness(200%);}
.darkmode .search-form { }
.darkmode .close-x {stroke: #353535;}

.darkmode #redes li { border-color: #FFF;}
.darkmode #redes img { filter: brightness(100);}

.darkmode .navbar-menu, .darkmode .navbar{  background: #121212;}
.darkmode .navbar .switch-btn { background: #252a32; transform: translateX(24px);}
.darkmode .navbar-item { color: #ffffff; }
.darkmode .navbar-item img:not(.wz) { filter: brightness(100);}

.darkmode .navbar-burger {background: #E0E0E0} 
.darkmode .navbar-burger span {color:#121212}

.darkmode #search .search::before, .darkmode #search .close::after {background-color: #fff;}
.darkmode #search-input { border: 1px solid #FFF;  color: #FFF !important; background: none;}
.darkmode #search img { filter: brightness(100) !important;}
.darkmode .search-close { background: none;}
.darkmode .search-close svg { fill: #FFF;}

.darkmode #playnav { background: #E0E0E0; color: #121212;}
.darkmode .play_btn .icon { filter: none;}
.darkmode #playnav:hover { background: #FFF;}
.darkmode #playnav:hover span { color: #3D3F52;}

/*Darkmode ads*/
.darkmode .ad-slot { background: #333;}
.darkmode #notas_box {background: #353535;}

.darkmode  hr.dashed { filter: brightness(100) !important;}
.darkmode .switch img:not(.wz) {filter: invert(100) !important;}

.darkmode strong { color: #FFF;}
.darkmode .is-celeste { color: #69B1C9;}
.darkmode #gototop {background: #69B1C9;}


.darkmode .redes img { filter: brightness(100);}
.darkmode .redes li { border: 1px solid #FFF;}
.darkmode .go-up {background: #121212;}
.darkmode #actualidad h1{color:#3D3F52;}
.darkmode h1 a { color: #FFF;}
.darkmode #opinion .opinion .frase { color: #3D3F52;}

.darkmode .vermas .is-celeste{ padding-left: 10px;padding-right: 10px; border-radius: 30px; background: #121212}
.darkmode .button.is-light.etiquet { background: #363636; color: #e0e0e0;}
.darkmode #actualidad .is-bg-grisclaro {background: none;}

.darkmode .tabs.rounded .is-active {background: #E0E0E0}
.darkmode .tabs a {  color: #E0E0E0;}
.darkmode .tabs li:hover { background: #E0E0E0;}
.darkmode .tabs li a:hover { color: #121212 !important;}
.darkmode .tabs li {border: 1px solid #E0E0E0;  box-shadow: none;}
.darkmode .tabs.rounded .is-active a, .darkmode .tabs.rounded .is-active a:hover {color: #121212 !important;}


.darkmode #bannermiddle, .darkmode #bannertop {background: transparent;}

.darkmode .button.is-750 { background: #69B1C9; color: #121212;}
.darkmode #destacados .image::before {background: #69B1C9;}
.darkmode #destacados .image, .darkmode #destacados .rayita { border-left: 1px solid #69B1C9;}


.darkmode .opinion .frase {background: #353535; color: #E0E0E0;}
.darkmode .opinion .frase::before { border-right: 21px solid #353535;}

.darkmode #accesos-rapidos img {
filter: grayscale(100%) brightness(194%);
-webkit-filter: grayscale(100%) brightness(194%);
-moz-filter: grayscale(100%) brightness(194%);}

.darkmode #ayudanos, .darkmode #ayudanos h2 {color: #E0E0E0;}
.darkmode #ayudanos .button.is-750 { background: #e0e0e0;}
.darkmode #mc-embedded-subscribe {background: #E0E0E0 !important; color: #121212 !important;}

.darkmode .footer { background: #353535;}


.darkmode .nota-contenido blockquote::after { display: none;}
.darkmode #alaire h2 { background: #353535;}
.darkmode #alaire .button  {  background: #E0E0E0; }

.darkmode #en-vivo-bloque .button.is-750 {background: #E0E0E0;}
.darkmode .nota-contenido blockquote { border: 1px solid #69B1C9; color: #69B1C9;}
.darkmode .nota-contenido blockquote::before { color: #69B1C9 }

.darkmode li .switch {  color: #FFF;}


/*LIVEBLOGPOSTING*/
.darkmode  #destacados h1 { color: #C62828;}
.darkmode hr { background-color: #888;}