/*SANTI LE AGREGUE EL Z-INDEX:9999999; Q ME HACÍA BARDO*/

@media screen and (max-width:1023px){
  #bannertop { margin-right: -0.7rem;  margin-left: -0.7rem; overflow: hidden; min-height: 0px}
  .custom_player_space{    
  	height: 70px;
    background: #1e1e1e;
    position: fixed;
    width: 100%;
    bottom: 0px;
	z-index: 9999999}
}

@media screen and (max-width:600px){
	.custom_player_space{    
	  	height: 128px;
	  	width: 100%
	    background:#1e1e1e;
	    position: fixed;
	    bottom: 0px;
	    z-index: 9999999;
	}
}
